/* Form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    vertical-align: middle;
  }
  
  /* Form header */
  .form-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form inputs */
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Submit button */
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Link to login page */
  .login-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  
  .user-exists-error {
    color: #ff0000; /* Red color for error message */
    font-size: 14px; /* Font size */
    margin-top: 5px; /* Spacing from the input field */
  }
