

.goBackButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Change the background color as desired */
    color: #fff; /* Text color */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
.goBackButton:hover {
    background-color: #0056b3; /* Change the hover background color as desired */
  /* Container styles */}
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* Heading styles */
.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color:silver;
}

/* Message styles */
.message {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Button styles */
.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

